In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
loan = pd.read_csv('loan_borowwer_data.csv')

In [3]:
loan.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
loan['purpose'].unique()

array(['debt_consolidation', 'credit_card', 'all_other',
       'home_improvement', 'small_business', 'major_purchase',
       'educational'], dtype=object)

In [5]:
loan['credit.policy'].unique()

array([1, 0], dtype=int64)

In [6]:
target = loan['not.fully.paid']

In [7]:
loan = loan.drop(['not.fully.paid'], axis=1)

In [8]:
loan.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0

In [9]:
loan1 = pd.get_dummies(loan['purpose'])
loan1.index.rename('index', inplace=True)
loan.index.rename('index', inplace=True)

In [10]:
loan1.head()

,all_other,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
index,,,,,,,
0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0
2,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0

In [11]:
loan = pd.concat([loan, loan1], axis=1)

In [12]:
loan.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,all_other,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
index,,,,,,,,,,,,,,,,,,,,
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0

In [13]:
loan = loan.drop('purpose', axis=1)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(loan,target,test_size=0.2, random_state=42)

In [18]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [20]:
y_pred = classifier.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy = accuracy_score(y_pred, y_test)

In [23]:
print(accuracy)

0.7359081419624217

In [24]:
from sklearn.ensemble import RandomForestClassifier
Rclassifier = RandomForestClassifier()

In [25]:
Rclassifier.fit(X_train, y_train)

RandomForestClassifier()

In [26]:
y_RFpred = Rclassifier.predict(X_test)

In [27]:
Raccuracy = accuracy_score(y_RFpred, y_test)

In [28]:
print(Raccuracy)

0.842901878914405